<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daydream.boot.Dreamboot.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.daydream.boot.Dreamboot.entity.User">
        <constructor>
            <idArg column="objectId" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="telephone" javaType="java.lang.Long" jdbcType="DECIMAL"/>
            <arg column="sex" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="creationTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="createdBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="lastUpdatedTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="lastUpdatedBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    objectId, username, password, email, telephone, sex, creationTime, createdBy, lastUpdatedTime, 
    lastUpdatedBy
  </sql>
    <select id="selectByExample" parameterType="com.daydream.boot.Dreamboot.entity.UserExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where objectId = #{objectid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where objectId = #{objectid,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.daydream.boot.Dreamboot.entity.UserExample">
        delete from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.daydream.boot.Dreamboot.entity.User">
    insert into user (objectId, username, password, 
      email, telephone, sex, 
      creationTime, createdBy, lastUpdatedTime, 
      lastUpdatedBy)
    values (#{objectid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=DECIMAL}, #{sex,jdbcType=CHAR}, 
      #{creationtime,jdbcType=TIMESTAMP}, #{createdby,jdbcType=VARCHAR}, #{lastupdatedtime,jdbcType=TIMESTAMP}, 
      #{lastupdatedby,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.daydream.boot.Dreamboot.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objectid != null">
                objectId,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="creationtime != null">
                creationTime,
            </if>
            <if test="createdby != null">
                createdBy,
            </if>
            <if test="lastupdatedtime != null">
                lastUpdatedTime,
            </if>
            <if test="lastupdatedby != null">
                lastUpdatedBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objectid != null">
                #{objectid,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=DECIMAL},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="creationtime != null">
                #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdby != null">
                #{createdby,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatedtime != null">
                #{lastupdatedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastupdatedby != null">
                #{lastupdatedby,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.daydream.boot.Dreamboot.entity.UserExample"
            resultType="java.lang.Long">
        select count(*) from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <if test="record.objectid != null">
                objectId = #{record.objectid,jdbcType=BIGINT},
            </if>
            <if test="record.username != null">
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.telephone != null">
                telephone = #{record.telephone,jdbcType=DECIMAL},
            </if>
            <if test="record.sex != null">
                sex = #{record.sex,jdbcType=CHAR},
            </if>
            <if test="record.creationtime != null">
                creationTime = #{record.creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createdby != null">
                createdBy = #{record.createdby,jdbcType=VARCHAR},
            </if>
            <if test="record.lastupdatedtime != null">
                lastUpdatedTime = #{record.lastupdatedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastupdatedby != null">
                lastUpdatedBy = #{record.lastupdatedby,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set objectId = #{record.objectid,jdbcType=BIGINT},
        username = #{record.username,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        telephone = #{record.telephone,jdbcType=DECIMAL},
        sex = #{record.sex,jdbcType=CHAR},
        creationTime = #{record.creationtime,jdbcType=TIMESTAMP},
        createdBy = #{record.createdby,jdbcType=VARCHAR},
        lastUpdatedTime = #{record.lastupdatedtime,jdbcType=TIMESTAMP},
        lastUpdatedBy = #{record.lastupdatedby,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.daydream.boot.Dreamboot.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=DECIMAL},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="creationtime != null">
                creationTime = #{creationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdby != null">
                createdBy = #{createdby,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatedtime != null">
                lastUpdatedTime = #{lastupdatedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastupdatedby != null">
                lastUpdatedBy = #{lastupdatedby,jdbcType=VARCHAR},
            </if>
        </set>
        where objectId = #{objectid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daydream.boot.Dreamboot.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=DECIMAL},
      sex = #{sex,jdbcType=CHAR},
      creationTime = #{creationtime,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=VARCHAR},
      lastUpdatedTime = #{lastupdatedtime,jdbcType=TIMESTAMP},
      lastUpdatedBy = #{lastupdatedby,jdbcType=VARCHAR}
    where objectId = #{objectid,jdbcType=BIGINT}
  </update>
</mapper>